doctype 5
html(lang="en")
  head
    title mapjack
    style.
      body {
        font-family: Arial, sans-serif;
        font-size: 1.8em;
        margin: 1em 3em;
        color: #34495E;
      }
      h1 {
        text-align: center;
        font-size: 3em;
        color: #3498DB;
      }
      a {
        text-decoration: none;
        color: #1ABC9C;
      }
      a:hover {
        color: #48C9B0;
      }
      img {
        display: block;
        margin: 0 auto;
      }
  body
    !{content}
